@charset "utf-8";
/* CSS Document */
div#image {
	box-sizing:border-box;
	width:100%;
	height:auto;
	background:#F5F5F5;
	overflow:hidden;
	border-left: 1px solid #B3B3B3;
	border-right: 1px solid #B3B3B3;
}
img {
	box-shadow:0px 2px 2px black, 0px -2px 2px black, 2px 0px 2px black, -2px 0px 2px black;
	position:relative;
	margin:20px 260px auto;
	box-sizing:border-box;
	overflow:hidden;
}
div#artikel {
	box-sizing: border-box;
	float:left;
	position:relative;
	width:100%;
	height:auto;
	background:#F5F5F5;
	padding:20px 0;
	border-left: 1px solid #B3B3B3;
	border-right: 1px solid #B3B3B3;
	border-bottom: 1px solid #B3B3B3;
}
h1 {
		text-align:center;
}
div.list-header {
	font-weight: bold;
	background: none repeat scroll 0% 0% #0FF;
	font-stretch: expanded;
	font-size: 16px;
	border: 1px solid #000;
	text-align: center;
	padding: 10px;
	border-radius: 20px 20px 0 0;
}
